
body{
background-image: linear-gradient(70deg, white, pink); /*es para crear una gradiente de colores, que empiece en un color y termine en otro, que lo fusione, tomando parametros dentro de los () 1ro la dirección, luego el color1, luego color2
/* background-repeat: no-repeat;esto es para que no se repita una imagen por todo el canva */
/* background-image: radial-gradient(circle, red 5%, orange 25%, yellow 50%); a las gradientes tambien le podemos dar porcentaje para cada color */
/* background-image: repeating-radial-gradient(circle, green, black, indigo); me repite la gradiente*/ 
/* background-image:conic-gradient(red, orange, yellow, blue, green); me parte la pantalla en 2 colores, no se usa mucho */

/* background-repeat: repeat-x; */   /* la imagen se repite de forma horizontal */

/* background-repeat: repeat-y; */  /* la imagen se repite de forma vertical */
/* background-position: right; /*esto es para posicionar la imagen, en este caso a la izquierda-arriba, pero puede ser right, top, bottom(para abajo) */
/* background-attachment: fixed; para mover la imagen por toda la pantalla por mas que este completa de letras */
/* background-attachment: scroll;la imagen se queda estatica en su lugar */ 
}

h1, h2, h3{ /*se puede aplpicar estilos a selectores multiples, mediante la etiqueta y separados por coma  */
    margin-top: 10px;
    background-color: darkgoldenrod; 
}


.ballons{ /*es para hacer desaparecer el fondo blanco, para evitar photoshop, etc*/ 
    filter: brightness(1.1);
    mix-blend-mode: multiply;
} 